@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #202124;
    overflow: hidden;
    height: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 50px;
    padding: 20px;
}

.header .apps{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    
    border-radius: 50%;
}

.header .apps:hover{
    background-color: #2F3034;
}

.header .apps img{

    height: 25px;
    margin-top: 3px;
}

.header a{
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.header a:hover{
    text-decoration: underline;
}

.profile{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin-top: 10%;
    color: #fff;
    font-family: 'Outfit', sans-serif;
    cursor: default;
    
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.search-bar{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 30%;
    border: 1px solid gray;
    border-radius: 25px;
    
}

.search-bar:hover{
    background-color: #303134;
    border-color: #303134;
}

.search-bar:hover .search-text input{
    background-color: #303134;
}

.search-bar .search-icon img{
    height: 20px;
    margin-left: 5px;
}
.search-bar .search-text{
    width: 70%;
}
.search-bar .search-text input{
    width: 100%;
    margin: 0 20px;
    background-color: #202124;
    border: hidden;
    color: #fff;
    outline: none;
}



.icon img{
    height: 25px;
    padding: 2px;
    margin-right: 5px;
}

.button{
    height: 35px;
    margin: 25px;
    padding: 10px;
    
}

.button a{
    background-color: #303134;
    padding: 12px;
    text-decoration: none;
    color: #fff;
    margin: 20px 7px;
    border-radius: 5px;
}
.footer{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    border: 1px solid #303134;
    background-color: #171717;
    
}
.bar-mid{
    left: 40%;
}
.bar-right{
    right: 0
}
.bar-left{
    left:0
}
.bar-1{
    position: absolute;
    bottom: 50px;
    color: #9AA0A6;
    background-color: #171717;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;

}

.bar-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    
}

.bar-2 a{
    text-decoration: none;
    color: #9AA0A6;
}

.bar-left a{
    margin-right: 10px;
    
}

.bar-2 a:hover{
    text-decoration: underline;
}


.bar-right a{
    margin-left: 10px;
}

@media screen and (max-width: 1500px){
    .search-bar .search-text{
        width: 50%;
    }
    .search-bar{
        width: 40%;
    }
    .footer{
        font-size: 15px;
    }
    .button{
        display: flex;
        flex-direction: column;
    }
    .icon a{
        margin: 0 2px;
        padding: 0;
        height: 10px;
        width: 10px;
        position: relative;
        display: inline-block;

    }
}

@media screen and (max-width: 700px){
    .search-bar{
        width: 50%;
    }
    .search-bar .search-text{
        width: 40%
    }

}